[project]
	description = Add support for parsedown and parsedown-extra in symfony 2/3 by providing services and Twig filters.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Artem Tkachuck (artem-tkachuck)
[access "refs/for/refs/*"]
	read = group user/Artem Tkachuck (artem-tkachuck)
	push = group user/Artem Tkachuck (artem-tkachuck)
	label-Code-Review = -2..+2 group user/Artem Tkachuck (artem-tkachuck)
	label-Verified = -1..+1 group user/Artem Tkachuck (artem-tkachuck)
	rebase = group user/Artem Tkachuck (artem-tkachuck)
	removeReviewer = group user/Artem Tkachuck (artem-tkachuck)
	submit = group user/Artem Tkachuck (artem-tkachuck)
[access "refs/heads/*"]
	read = group user/Artem Tkachuck (artem-tkachuck)
	create = group user/Artem Tkachuck (artem-tkachuck)
	push = +force group user/Artem Tkachuck (artem-tkachuck)
	pushMerge = group user/Artem Tkachuck (artem-tkachuck)
[access "refs/tags/*"]
	push = group user/Artem Tkachuck (artem-tkachuck)
	push = +force group user/Artem Tkachuck (artem-tkachuck)
